main.flexboxWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 1rem;
  width: 97%;
  height: 100%;
}

@media (max-width: 1200px) {
  main.flexboxWrap {
    /*  */
  }
}

@media (max-width: 900px) {
  main.flexboxWrap {
    /* display: grid;
    grid-template-areas:
      'user news chat'
      'user events chat'
      'user tasks chat'; */
  }
}

@media (max-width: 700px) {
  main.flexboxWrap {
    /* display: grid;
    grid-template-areas:
      'user user'
      'news chat'
      'events chat'
      'tasks chat'; */
  }
}

@media (max-width: 500px) {
  main.flexboxWrap {
    /* display: grid;
    grid-template-areas:
      'user'
      'news'
      'events'
      'tasks'
      'chat'; */
  }
}

section.user,
section.news,
section.events,
section.tasks,
section.chat {
  min-width: 160px;
  min-height: 160px;
  margin: 0 0.5rem;
}

section.user {
  flex: 1;
  height: 97vh;
  order: 0;
}

main.flexboxWrap .flexMidSection {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0rem;
  height: 97vh;
}

main.flexboxWrap .flexMidSection section.news {
  /* flex: 2; */
  flex-grow: 1;
  width: 100%;
  height: 45.8vh;
  margin-bottom: 0.5rem;
}

main.flexboxWrap .flexMidSection section.events {
  flex: 1;
  flex-shrink: 1;
  /* width: 45%; */
  height: 45vh;
}

main.flexboxWrap .flexMidSection section.tasks {
  flex: 1;
  flex-shrink: 1;
  /* width: 45%; */
  height: 45vh;
}

section.chat {
  flex: 1;
  height: 97vh;
  order: 3;
}

.user .headflexRow,
.news .headflexRow,
.events .headflexRow,
.tasks .headflexRow,
.chat .headflexRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}
