main.mainflexwrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media (max-width: 900px) {
  main.mainflexwrap {
    flex-wrap: wrap;
  }
}

.user {
  margin-left: 0.5rem;
  flex: 160px;
  min-width: 160px;
}

@media (max-width: 900px) {
  .user {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
  }
}

.midsection {
  padding: 1em 0.75rem;
  flex: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  min-width: 300px;
}

@media (max-width: 900px) {
  .midsection {
    margin-bottom: 0rem;
  }
}

.midsection .news {
  flex: 2;
  min-width: 300px;
  margin-bottom: 0.5rem;
}

@media (max-width: 900px) {
  .midsection .news {
    margin-left: 0rem;
    margin-right: 0rem;
    min-width: initial;
  }
}

.midsection .events {
  flex: auto;
  min-width: 300px;
  margin-bottom: 0.5rem;
}

@media (max-width: 900px) {
  .midsection .events {
    margin-left: 0rem;
    margin-right: 0rem;
    min-width: initial;
  }
}

.midsection .tasks {
  flex-grow: auto;
  min-width: 300px;
}

@media (max-width: 900px) {
  .midsection .tasks {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    min-width: initial;
  }
}

.chat {
  flex: 160px;
  min-width: 160px;
}

@media only screen and (max-width: 900px) {
  .user,
  .midsection,
  .chat {
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
    min-width: initial;
  }
}
