#login,
#register {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userAuth {
    width: 300px;
    height: fit-content;
    align-self: center;
}

#login hr,
#register hr {
    border: 0;
    border-top: 1px dashed gainsboro;
}