@import './typography.css';
@import './header-footer.css';
@import './flex-grid.css';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: whitesmoke;
  font-family: Helvetica, sans-serif;
  font-size: 0.85em;
}

.box {
  border: 1px solid #e0e0e0;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 10px -10px black;
  background: white;
  padding: 1.5em;
  flex: 0 auto 0;
}

.container {
  /*  */
}

.headerFooterWrap {
  max-width: 1200px;
  margin: 0 auto;
}

.headerFooterWrap h1 {
  padding: 0 0.5em;
}

/* Flex-grid css in flex-grid.css  */
/* Flex-grid css in flex-grid.css  */
/* this is cosmetic non-grid stuff  */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
main {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.user {
  /*  */
}

.midsection {
  padding: 1em 1rem 0.5rem;
  /*  */
}

.midsection .news {
  /*  */
}

.midsection .events {
  /*  */
}

.midsection .tasks {
  /*  */
}

.chat {
  /*  */
}
