html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: whitesmoke;
  font-family: Helvetica, sans-serif;
}

header,
footer {
  background: slategray;
  padding: 0.25rem 1rem;
}

header h1 {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem;
}

section.user {
  width: 15%;
  padding: 1em;
  margin-right: 1rem;
  background: white;
}

.midsection {
  width: 50%;
  padding: 1em;
  margin-right: 1rem;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.midsection section.news {
  width: 100%;
  padding: 1em;
  /* margin-right: 1rem; */
  margin-bottom: 0.5rem;
  background: white;
}

.midsection section.events {
  width: 40%;
  padding: 1em;
  margin-right: 1rem;
  background: white;
}

.midsection section.tasks {
  width: 40%;
  padding: 1em;
  /* margin-right: 1rem; */
  background: white;
}

section.chat {
  width: 15%;
  padding: 1em;
  /* margin-right: 1rem; */
  background: white;
}

.box {
  border: 1px solid #e0e0e0;
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 10px -10px black;
}
