h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

p,
ol,
ul,
li {
  margin-top: 0;
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type,
h5:first-of-type,
h6:first-of-type {
  margin-top: 0;
}

p:first-of-type,
ol:first-of-type,
ul:first-of-type,
li:first-of-type {
  margin-top: 0;
}

p:last-of-type,
ol:last-of-type,
ul:last-of-type,
li:last-of-type {
  margin-bottom: 0;
}
